<div class="row mb-4">
    <div class="btn-group" name="container">
        <button [(ngModel)]="container" class="btn btn-primary" btnRadio="Unread" (click)="LoadMessages()">
            <i class="fa fa-envelope"></i>Unread
        </button>
    </div>
    <div class="btn-group" name="container">
        <button [(ngModel)]="container" class="btn btn-primary" btnRadio="Inbox" (click)="LoadMessages()">
            <i class="fa fa-envelope-open"></i>Inbox
        </button>
    </div>
    <div class="btn-group" name="container">
        <button [(ngModel)]="container" class="btn btn-primary" btnRadio="Outbox" (click)="LoadMessages()">
            <i class="fa fa-envelope-plane"></i>Outbox
        </button>
    </div>
</div>

<div class="row" *ngIf="messages?.length == 0">
    <h3>No Messages</h3>
</div>

<div class="row" *ngIf="messages?.length > 0">
    <table class="tabe table-hover" style="cursor:pointer;">
        <tr>
            <th style="width: 40%;">Message</th>
            <th style="width: 20%;">From / to</th>
            <th style="width: 20%;">Sent / Recieved</th>
            <th style="width: 20%;">Message</th>
        </tr>

        <tr *ngFor="let item of messages" 
        routerLink='{{container === "Outbox"
        ?"/members/" +item.recipientUserName 
         : "/members/" + item.senderUserName }}' [queryParams]="{tab:3}">
        
            <td>{{item.content}}</td>
            <td>
                <div *ngIf="container == 'Outbox'">
                    <img class="img-circle rounder-circle" src="{{item.recipientPhotoUrl || './assets/user.png'}}" 
                    alt="{{item.recipientUserName}}">
                    <strong>{{item.senderUserName | titlecase}}</strong>
                </div>
                <div *ngIf="container !== 'Outbox'">
                    <img class="img-circle rounder-circle" src="{{item.senderPhotoUrl || './assets/user.png'}}" 
                    alt="{{item.senderUserName}}">
                    <strong>{{item.senderUserName | titlecase}}</strong>
                </div>
            </td>

            <td>{{item.messageSent | timeago}}</td>
            <td>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>