<div class="container">
    <div class="row" *ngIf="MemberProp">

        <div class="col-4">
            <h1>Your Profile</h1>
        </div>
        <div class="col-8">
            <div class="alert alert-info" *ngIf="formEdit.dirty">
                <strong>Informations: </strong>you have made changes. Any unsaved changes will be lost
            </div>
        </div>
        <div class="col-4" style="margin-top: 15px;">
            <div class="card">
                <img src="{{MemberProp.photoUrl || './assets/user.png'}}" alt="img" class="card-img-top img-thumbnail">
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{MemberProp.city}}, {{MemberProp.country}}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{MemberProp.age}}</p>
                    </div>
                    <div>
                        <strong>Member Since:</strong>
                        <p>{{MemberProp.created | date}}</p>
                    </div>
                    <div>
                        <strong>Last active:</strong>
                        <p>{{MemberProp.lastActive | timeago}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button [disabled]="!formEdit.dirty" id="btnSubmit" form="FormEdit" type="submit"
                        class="btn btn-primary btn-block">Save Changes</button>
                </div>

            </div>
        </div>
        <div class="col-8" style="margin-top: 15px;">
            <tabset class="member-tabset">
                <tab heading="About {{MemberProp.knownAs}}">

                    <form #formEdit="ngForm" id="FormEdit" (ngSubmit)="UpdateMember()">
                        <h4>Description</h4>
                        <textarea class="form-control" [(ngModel)]="MemberProp.introduction" name="introduction"
                            id="txtAreaIntroductionId" rows="6"></textarea>

                        <h4 class="mt-2">Looking For</h4>
                        <textarea class="form-control" [(ngModel)]="MemberProp.lookingFor" name="lookingFor"
                            id="txtAreaLookingFOrId" rows="6"></textarea>

                        <h4 class="mt-2">Interests</h4>
                        <textarea class="form-control" [(ngModel)]="MemberProp.interests" name="interests"
                            id="txtAreaInterestsId" rows="6"></textarea>

                        <h4>Location Details:</h4>
                        <div class="form-inline">
                            <label for="City">City:</label>
                            <input [(ngModel)]="MemberProp.city" type="text" name="city" class="form-control mx-2">
                            <label for="City">Country:</label>
                            <input [(ngModel)]="MemberProp.country" type="text" name="country"
                                class="form-control mx-2">
                        </div>

                    </form>
                </tab>
                <tab heading="Edit Photos">
                    <app-photo-editor [member]="MemberProp"></app-photo-editor>
                </tab>
            </tabset>
        </div>
    </div>
</div>